<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Dodaj zadanie</h1>

<a href="/tasks">Wszystkie</a>
<a href="/finished">Skończone</a>
<a href="/unfinished">Nieskończone</a>

<form action="/tasks" method="post">
    <label> Podaj nazwe </label>
    <input type="text" name="name">
    <br><br>
    <label>Podaj opis</label>
    <textarea name="description"></textarea>
    <br><br>
    <label>Skończony</label>
    <input type="checkbox" name="finished">
    <br><br>
    <input type="submit" value="Dodaj zadanie">
</form>

</body>
</html>